/** Fonts  **/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto+Condensed:300,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  line-height: 1,5;
  font-family: "Raleway", sans-serif;
  color: set-text-color(#efefef);
}

h1, h2, h3, h4, h5, h6 {
  color: #efefef;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #efefef;
}

.lg-heading {
  font-size: 7rem;
}

.md-heading {
  font-size: 4rem;
}

.sm-heading {
  font-size: 2rem;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-btn .btn-line {
  width: 2.8rem;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-image, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #3c3c3c;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-image {
  background: #2f2f2f;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-image.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-image .portre {
  width: 25rem;
  height: 25rem;
  background: url("../images/team-item-2.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #eece1a;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #eece1a;
}

.menu .nav-item .nav-link {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  padding: 1rem 0;
  font-weight: bold;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu .nav-item .nav-link:hover {
  color: #eece1a;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media screen and (min-width: 1171px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  ul.menu-nav, div.menu-image {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show, div.menu-image.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .menu-image {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9))), url("../images/WhatsApp Image 2020-09-20 at 19.48.55.jpeg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/WhatsApp Image 2020-09-20 at 19.48.55.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* ---- main ---- */
main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0 5rem;
}

main h1 {
  margin: 0;
}

main h1 span {
  color: #eece1a;
}

main .social-account {
  color: #efefef;
  padding: 2rem 0;
}

main .social-account a {
  color: #efefef;
}

main .social-account a i {
  padding-right: 1rem;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main .social-account a i:hover {
  cursor: pointer;
  color: #eece1a;
}
/*# sourceMappingURL=main.css.map */