<div class="gridContainer">
    <div class="gridHeader d-flex justify-content-center align-items-center">
        <h1 class="">
            Modified Basic Angular CLI
        </h1>
    </div>

    <div class="gridMenubar">

    </div>

    <div class="gridInfoField">
        <div class="one" style="background-color: brown"></div>
        <div class="two" style="background-color: burlywood;"></div>
        <div class="three" style="background-color: rgb(70, 93, 121)"></div>
        <div class="four" style="background-color: rgb(21, 199, 15)"></div>
        <div class="five" style="background-color: rgb(236, 0, 110)"></div>
        <div class="two" style="background-color: burlywood;"></div>
        <div class="three" style="background-color: rgb(70, 93, 121)"></div>
        <div class="four" style="background-color: rgb(21, 199, 15)"></div>
        <div class="five" style="background-color: rgb(236, 0, 110)"></div>
        <div class="one" style="background-color: brown"></div>
        <div class="three" style="background-color: rgb(70, 93, 121)"></div>
        <div class="four" style="background-color: rgb(21, 199, 15)"></div>
        <div class="five" style="background-color: rgb(236, 0, 110)"></div>
        <div class="one" style="background-color: brown"></div>
        <div class="two" style="background-color: burlywood;"></div>
        <div class="four" style="background-color: rgb(21, 199, 15)"></div>
        <div class="five" style="background-color: rgb(236, 0, 110)"></div>
        <div class="one" style="background-color: brown"></div>
        <div class="two" style="background-color: burlywood;"></div>
        <div class="three" style="background-color: rgb(70, 93, 121)"></div>
        <div class="five" style="background-color: rgb(236, 0, 110)"></div>
        <div class="one" style="background-color: brown"></div>
        <div class="two" style="background-color: burlywood;"></div>
        <div class="three" style="background-color: rgb(70, 93, 121)"></div>
        <div class="four" style="background-color: rgb(21, 199, 15)"></div>
    </div>

    <div class="gridFooter">

    </div>
</div>