/** Fonts  **/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto+Condensed:300,700&display=swap");
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #efefef;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

.lg-heading {
  font-size: 7rem;
}

.md-heading {
  font-size: 4rem;
}

.sm-heading {
  font-size: 2rem;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/WhatsApp Image 2020-09-20 at 19.48.55.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* ---- navigation ---- */
.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #4792a5;
  z-index: 200;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 300ms ease-in-out;
}
.navigation:active {
  clip-path: circle(75%);
}
.navigation:active .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navigation:active .ham-btn span:nth-child(2) {
  display: none;
}
.navigation:active .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.navigation .ham-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background: #eece1a;
  border-radius: 50%;
  cursor: pointer;
}
.navigation .ham-btn span {
  position: absolute;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  background: #efefef;
  transition: all 200ms ease-in-out;
}
.navigation .ham-btn span:nth-child(1) {
  top: 30%;
}
.navigation .ham-btn span:nth-child(2) {
  top: 50%;
}
.navigation .ham-btn span:nth-child(3) {
  top: 70%;
}
.navigation .links-img {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .links-img .img {
  position: relative;
  right: 15%;
}
.navigation .links-img .links {
  position: relative;
  left: 15%;
}
.navigation .links-img .links a {
  position: relative;
  display: inline-block;
  margin: 3rem 0px;
  font-size: 5rem;
  color: #efefef;
  letter-spacing: 0.5rem;
}
.navigation .links-img .links a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: tomato;
  transition: all 0.5s ease-out;
}
.navigation .links-img .links a:hover::after {
  width: 100%;
}

/* ---- main ---- */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 5rem;
}
main h1 {
  padding: 1rem 0;
}
main h1 span {
  color: #eece1a;
}
main .social-account {
  color: #efefef;
  padding: 2rem 0;
}
main .social-account a {
  color: #efefef;
}
main .social-account a i {
  padding-right: 1rem;
  transition: all 0.5s ease-out;
}
main .social-account a i:hover {
  cursor: pointer;
  color: #eece1a;
}

/*# sourceMappingURL=main.css.map */
