$primary-font:'Raleway', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$primary-color: #4792a5;
$secondary-color:#eece1a;
$light-color: #efefef;
$dark-color: #3c3c3c;    
$general-transition: all .4s ease;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;    
}

body{
    line-height: 1,5;
    // height: 100%;
    font-family:$primary-font;
    color:set-text-color($light-color);    
}

h1,h2,h3,h4,h5,h6{
    color:$light-color;  
}

a{
	text-decoration: none;
	text-transform: uppercase;
    user-select: none;
    color: $light-color;
}


  
.lg-heading{font-size: 7rem;}
.md-heading{font-size: 4rem;}
.sm-heading{font-size: 2rem;}

@mixin easeOut {
    transition: all .5s ease-out;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

//Set Text Color
@function set-text-color($color){
    @if (lightness($color) > 40){
        @return #000;
    }@else{
        @return #fff;
    }
}

//Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width:500px){
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1170px){
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width:1171px){
        @content;
    }
}
